:root{
    --black: #111;
    --white: #ffffff;
    --bg: rgb(241, 238, 232);
    --blue: blue;
}

.blue{
    color: blue;
}

body{
    background-color: var(--bg);
}

*{
    margin: 0%;
    padding: 0%;
}